name: "run"

on:
  workflow_dispatch:

jobs:
  run:
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
      - run: npm ci
      - run: npm run start
      - name: Git
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          git add dist
          git commit -m "by bot"
          git push origin main
